{% extends "base.html" %}
{% block start %}
    <h1> This is index page </h1>
    {{peoples}}

    <table style="width:80%" class="container">
        <tr>
          <th>Sr. No</th>
          <th>Name</th> 
          <th>Age</th>
          <th>Can vote</th>
        </tr>
        {% for people in peoples%}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{people.name}}</td>
          <td>{{people.age}}</td>
          
          "<td>
            {% if people.age >= "18" %}
            👍
            {% else %}
            👎
            {% endif %}
          </td>"
        </tr>
       {% endfor %}
      
      </table>
{% endblock %}